@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Rajdhani:wght@500&family=Roboto+Slab&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{ margin: 0;
font-family: 'Rajdhani', sans-serif;
}

header{
     background-color: rgb(26, 40, 84);
     color: #fff;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     padding: 20px;

}

header h1{
    width: 100%;
    text-align: center;

}

header input{
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 60%;
    font-size: 18px;
}

header span{
    padding-left: 10px;
    font-size: 35px;
    cursor: pointer;
}
/* header terminado */

ul{
    margin: 0;
    padding: 0;
}

ul li{
    cursor: pointer;
    padding: 10px 0;
    list-style-type: none;
    font-size: 18px;
    display: flex;
    transition: 0.3s;
    align-items: center;
}

ul li:hover{background-color:rgb(45, 176, 176)}
ul li span{width: 80%;}
ul li i{width: 10%; text-align:center;}
.close{color:rgb(50, 91, 205)}












